*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
color: #1d273b;
font-weight: 300;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
    padding: 60px 60px;
}

h1{
    font-size: 50px;
}

/* header*/

header::before{
    content:"";
    display: block;
    margin-bottom: 80px;
}


nav{
    width: 100%;
    height: 80px;
    background-color: #92dccd;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 #ffe9ca;
    position: fixed;
    top:0;
    z-index: 100;
    transition: ease-in 0.5px;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    
    padding:0 40px;
    
}

.nav .logo{
    height: 80px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
    
}

.enlaces-header{
    font-weight: 300;
    
}

.nav .enlaces-header a{
    color: #5d5d5d;
    text-decoration: none;
    margin-right: 15px;
}
.hamburguesa{
    width: 80px;
   height: 80px;
   display:none;
   text-align: center;
   z-index: 100%;
   cursor: pointer;
   /* transition: color 0.5s ease-in; */
   
}

 .hamburguesa > i{
     font-size: 25px;
    height: 100%;
    line-height:80px ;
    
}

.contenido-header{
    width:100% ;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contenido-header>img{
    width: 500px;
    animation: ease-in animat 1s;
    
}

@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.textos-header{
    margin: 0 0 0 30px;
}

.contenido-header p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d7668;
}

.contenido-header a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background:#92dccd;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 12px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 8px 32px #ffe9ca;
}

.titulo{
    font-size: 50px;
}

/* about-us */

.about-us{
    background: #51d2f6a8;
}
.about-us h2{
    text-align: center;
    font-weight: 380;
    text-shadow: -1px -1px 10px #ffffff, 1px -1px 10px #ffffff, -1px 1px 1px #ffffff, 1px 1px 1px #ffffff;

}

.about-us h3{
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    margin-top: 25%;
    text-shadow: -1px -1px 10px #000000, 1px -1px 10px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}
   
    
    


.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;

}
.articulo{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    
}

.articuloit{
    width: 250px;
    height: 200px;
    background-image: url(https://clases-italiano.es/wp-content/uploads/2017/05/roma-mejor-lugar-para-veranear-italia.png);
    background-size: cover;
    background-position:center;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}

.articulosan{
    width: 250px;
    height: 200px;
    background-image: url(https://hotspotsmagazine.com/wp-content/uploads/2019/04/3415_Isla-de-San-Andres.jpg);
    background-size: cover;
    background-position:center ;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}

.articulocar{
    width: 250px;
    height: 200px;
    background-image: url(https://viajes.nationalgeographic.com.es/medio/2020/04/17/cartagena-de-indias-gabo_57e07813_1400x929.jpg);
    background-size: cover;
    background-position:center ;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}

.articulogran{
    width: 250px;
    height: 200px;
    background-image: url(https://tipsparatuviaje.com/wp-content/uploads/2019/08/gran-muralla-china.jpg);
    background-size: cover;
    background-position:center ;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}
.articulopar{
    width: 250px;
    height: 200px;
    background-image: url(https://www.latamairlines.com/content/dam/latamxp/sites/destinos/francia/hero/PAR.jpg);
    background-size: cover;
    background-position:center ;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}

.articulocan{
    width: 250px;
    height: 200px;
    background-image: url(https://topadventure.com/__export/1610983942527/sites/laverdad/img/2021/01/18/playa_cancun.jpg_1740899392.jpg);
    background-size: cover;
    background-position:center ;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}



.articulo:hover{
    box-shadow: 0 4px 10px rgba(17,29,48,.26);
    transition: 0.5s;
}

.icono{
    width: 60px;
    height: 60px;
    font-size: 25px;
    color: #fff;
    background: #544179;
    text-align: center;
    padding-top: 16px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 8px 32px rgba(90, 33, 197, 0.46);
}

.articulo h3{
    font-size: 24px;
    margin-top: 20px;
}

.articulo p{
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;

}

/* preguntas */


    
.contenedor-preguntas{    
        width: 100%;
        max-width: 1000px;
        margin:auto;
        overflow: hidden;
        
    }


.preguntas h1{  

    /* margin-top: 60px; */
    font-size: 50px;
    text-align: center;
}


.preguntas{
    /* width:100% ; */
    height: 600px;
    display: flex;
    justify-content: space-around;
    /* margin-top: 30px; */
    align-items: center;
    
    
}

.preguntas img{
    width: 400px;
    align-items: left;
    filter: drop-shadow(5px 3px 5px #51d2f6a8);
    
    
    
}

.textos-preguntas h1{
    text-align: right;
    font-weight: 700;
    color: aquamarine;
    text-shadow: 0 3px 1px black;
    
}

.textos-preguntas{
    margin-left: 30px;
    text-align: right;
}

.textos-preguntas p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d7668;
}

.contenedor-preguntas a{
    margin: 28px 22px 0 0;
    width: 130px;
    display: inline-block;
    background:#4a73b1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 12px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow:0 8px 32px #ffe9ca;
    
}



/* Categorías */

.mejores-productos{
    background-color: #4a73b1d2;
    padding-top: 30px;
    
}

.ventas{
    
        /* width: 40%;
        background: #fff;
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 45px 30px 60px 30px;  */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding:40px 100px;
        
           
}





.articulos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-evenly;
    
    
   

}

.articulo1:hover{
    box-shadow: 0 4px 10px #3D56B2;
    transition: 0.5s;
}

.articulo1{
    width: 45%;
    background: rgba(225, 225, 228, 0.623);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    /* box-shadow: 0 8px 32px #E6E6E6; */
    
}

 .articulo1 img{
    width: 70px;
    height: 70px;
    margin-left: 38%;
    font-size: 25px;
    color: rgba(253, 250, 250, 0.151);
    background:  #dbe4cf;    
    padding:5px 5px 5px 5px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 8px 25px #92dccd;
    
} 

.articulo1 h2{
    margin-top:10px;
    padding-top: 15px;
    font-weight: 350;
    text-align: center;
    color: #fff;
    
}

.ventas h1{
    font-weight: 500;
    color: #fff;
    font-size: 50px;
}


/* Footer */

footer{
    background: #dbe4cf;
    padding-top: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:auto;
}

.part-footer{
    width: 33%;
    text-align: center;
}

.part-footer h3{
    color:#1d273b;
    font-size: 20px;
    font-weight: 400;
    padding-top: 40px;
    
}

.part-footer img{
    width: 40%;
}
.social-media{
    font-size: 25px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 35px;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 2px;
}

.social-media:hover{
    color: #fff;
    background: #92dccd;
    border-color: #92dccd;
}

/* Breakpoints responsive */

@media screen and (max-width:800px){
    .titulo{
        font-size:55px;
    }
    
    .contenido-header{
        flex-direction: column; 
        justify-content:space-evenly;
        height:720px;
    }

    .contenido-header img{
        width:400px;
    }

    .textos-header{
        margin:0;
    }

    /* About us */

    .articulo{
        width:45%
    }

    /* Preguntas */

    .preguntas{
        height:720px;
        justify-content:space-evenly;
        flex-direction: column;
    }

    .preguntas img{
        width: 400px;
    }

    .mejores productos{
        flex-direction:column;
    }

    .articulo1{
        width:100%;
    }

    .ventas h1{
        width:100%;
    }

    .footer{
        justify-content:space-evenly;
    }

    
}

.ocean { 
    margin-top: 150px;
    height: 200px;
    width:100%;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
  }
  
  .ocean.v01 .wave {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  }
  
  .ocean.v01 {
      transform: rotate(180deg);
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    bottom: -25px;
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    bottom: -25px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(5px);
    }
  }